name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Docker build and push
      uses: cloudposse/github-action-docker-build-push@1.13.0
      with:
          workdir: ./backend
          registry: registry.hub.docker.com
          organization: nidib
          repository: meuporquinho-api
          login: "${{ secrets.DOCKER_USERNAME }}"
          password: "${{ secrets.DOCKER_PASSWORD }}"
          platforms: linux/amd64
